@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.get-btn {
  background-color: #7ceda1;
}

.hero {
  border-radius: 0% 0% 0% 10%;
}

.divider {
  background-color: #000000;
  height: 2px;
  width: 100px;
}

.automation {
  background-color: #f1f1f1;
}

.customers {
  background-color: #fffbee;
}

.contact {
  background-color: #eaf2fd;
}

.fa {
  color: #2f80ed;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: gray;
}
input:focus {
  border-color: #2f80ed;
}

.submit-btn {
  background-color: #2f80ed;
}

.form {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

